@media screen and (max-width: 400px){ 
    .nav-container{
        flex-direction: column;
    }
    .nav-item-container{
       flex-direction: column;
       gap: 15px;
       width: 100%;
    }
    .nav-item-container .login-btn{
        margin-bottom: 10px;
    }

    .logo-container img{
        margin-right: 0px;
    }
    .logo-container h3{
    font-size: 1rem;
    }
  /* banner section */
    .banner-container{
        flex-direction: column;
        margin-top: 20px;
    }
    .banner-content{
        width: 100%;
    }
    .banner-content h3{
    font-size: 1.5rem;
    }
    .banner-content p {
    font-size: 1.25rem;
    }
    .banner-img{
        width: 100%;
    }
    .social-icon{
    font-size: 1.5rem;
    margin: -10px 0 15px 10px;
    }
    .banner-btn{
    padding: 8px 14px;
    font-size: 1rem;
    border-radius: 5px;
    margin-right: 10px;
    }
/* all products section styles */
.product-container{
    grid-template-columns: 1fr;

}

/* discount section styles */
.discount-container{
    flex-direction: column;
}
.discount-container .discount-img{
    width: 100%;
}
.discount-container .discount-text{
    width: 100%;
    padding: 10px;
}
.discount-text h3{
    font-size: 1.0rem;
    text-align: center;   
}
.discount-text p{
    font-size: 0.75rem; 
    line-height: 18px;  
}
.discout-buy-button {
    padding: 10px 20px;
    border: 1px solid white;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
}
.discount-number{
    width: 50px;
    height: 50px;
    font-size: 12px;
}
/* footer sections  */
footer{
    margin-top: 20px;
}
.footer-container{
     padding: 10px;
}
.footer-top .urban{
   font-size: 14px;
   font-weight: 500;
}
.footer-top .hive{
   font-size: 14px;
   font-weight: 500;
}
.footer-top img{
    max-width: 30px;
}
.footer-container p{
   font-size: 12px;
}

}