/* google font family */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Work+Sans:wght@400;600;700;800&display=swap');

body{
font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;
}
*{
    box-sizing: border-box;
}
/* nav sections styles */
.nav{
    background-color: #9376e0;
}

.nav-container{
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
.logo-container{
    width: 50%;
    display: flex;
}
.logo-container .hive{
   color: #e893cf;
}
.fa-solid{
color: #9376e0;
}
.logo-container .urban{
   color: #fff;
}
.logo-container img{
   width: 50px;
   object-fit: contain;
   margin-right: 10px;
}
.logo-container h3{
    font-size: 2rem;
}

.nav-item-container{
    width: 50%;
   
}
.nav-item-container{
    display: flex;
     justify-content: space-between;
}

.nav-item-container a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-align: center
}
.nav-item-container .login-btn{
    padding: 5px 10px;
    background-color: #e893cf;
    border-radius: 5px;
    color: black;
    font-weight: 700;
}
/* banner section styles */

.banner-container{
    /* border: 1px solid red; */
    margin-top: 50px;
    max-width: 1400px;
    margin: 50px  auto 0;
    min-height: 50px;
    display: flex;
    background-color: rgba(112, 128, 144, 0.178);
    border-radius: 10px;
}
.banner-content{
    text-align: center;
    width: 50%;
}
.banner-content h3{
    font-size: 50px;
    background-image: linear-gradient(to bottom, #9376e0, #e893cf);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: -20px;
}
.banner-content p {
    font-size: 35px;
    font-family: "Dancing Script", cursive;
}
.banner-img{
    width: 50%;
    padding: 10px;
}
.banner-img img{
    width: 100%;
    border-radius: 10px;
    height: auto;
}
.social-icon{
    font-size: 2.5rem;
    /* margin-bottom: 15px; */
    margin: -10px 0 15px 10px;

}
.social-icon .fa-brands{
    margin-right: 20px;

}
.banner-btn{
    background-color: transparent;
    border: 2px solid #9376e0;
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 5px;
    margin-right: 10px;
}


